$material-icons-font-path: '~material-icons/iconfont/';
 
@import '~material-icons/iconfont/material-icons.scss';

$primary: cadetblue;
$danger: rgb(245, 27, 11);

@import '~bootstrap/scss/bootstrap';

input.error {
    border: 1px solid rgb(209, 136, 136);
}
.main-div{
    background-color: rgb(207, 229, 231);
    display: grid;
    place-items: center;
    height: 100vh;
}

