/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

$primary: cadetblue;
$danger: rgb(245, 27, 11);

@import "~bootstrap/scss/bootstrap";

* {
  padding: 0px;
  margin: 0px;
}

input.error {
  border: 1px solid rgb(209, 136, 136);
}
body {
  background-color: rgb(186, 224, 208);
  display: grid;
  place-items: center;
  height: 100vh;
}
